:root {
    --bs-body-font-family: "Montserrat";
    --bs-body-font-size: 1.25rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.6;
    --bs-body-color: #070507;
    --bs-body-text-align: left;
    --bs-body-bg: #FFFDF9;
    --bs-heading-font-family: 'Inria Serif';
    --bs-heading-font-family2: 'SVN-Poppins';
    --bs-heading-weight: 700;
    --bs-heading-color: #181818;
    --color-primary: #DCFC5A;
    --color-hover: #3427E7;
    --color-secondary: #C19B83;
    --color-border: #CBCEE2;;
}