html {
  @media (min-width: 390px) and (max-width: 767px) {
    font-size: 4vw;
  }

  @media (min-width: 780px) and (max-width: 1199px) {
    font-size: 1.8vw;
  }

  @media (min-width: 1200px) and (max-width: 1900px) {
    font-size: .87vw;
  }

  @media (min-width: 2000px) {
    font-size: .8vw;
  }
}

body {
  color: var(--bs-body-color);
  opacity: 0;
  visibility: hidden;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01em;
  background-color: var(--bs-body-color);

  &.body-fix-scroll {
    overflow: hidden;
    height: 100vh;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include media-breakpoint-down(xl) {
    font-size: rem(16px);
  }

  @include media-breakpoint-down(md) {
    font-size: rem(14px);
  }

  &.admin-bar {
    .page-wrapper {
      .header__wrap {
        top: 32px;
      }
    }
  }
}

.body-load-done {
  opacity: 1;
  visibility: visible;
}

section,
.section {
  position: relative;
  z-index: 2;
  padding: rem(60px) 0;

  @include media-breakpoint-up(md) {
    padding: rem(90px) 0;
  }

  @include media-breakpoint-up(xl) {
    padding: rem(120px) 0;
  }
}

::selection {
  background: var(--color-hover);
  color: #fff;
}

img::selection {
  background: transparent
}

img::-moz-selection {
  background: transparent
}


img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  transition: all .3s ease;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
  }
}

.page-wrapper,
.page-content {
  overflow: clip;
  display: flow-root;
}

i {
  vertical-align: middle;
}

.fancybox__backdrop {
  background-color: #000;
  opacity: .8;
}

.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* = WordPress Default Classes = */

/* Ảnh có chú thích */
.wp-caption {
  max-width: 100%;
  margin: 1em auto;
  text-align: center;
}

.wp-caption img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.wp-caption-text {
  font-size: 0.9em;
  color: #555;
}

/* Sticky post */
.sticky {
  border: 2px solid #333;
  padding: 10px;
}

/* Gallery caption */
.gallery-caption {
  font-size: 0.9em;
  color: #777;
}

/* Bài viết bởi tác giả */
.bypostauthor {
  font-weight: bold;
}

/* Canh chỉnh ảnh */
.alignleft {
  float: left;
  margin-right: 1em;
}

.alignright {
  float: right;
  margin-left: 1em;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.screen-reader-text:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  white-space: normal;
}