.btn {
	display: inline-flex;
	align-items: center;
	position: relative;
	z-index: 2;
	border-radius: rem(50px);
	border: 1px solid rgba(255, 255, 255, 0.30);
	background: rgba(130, 152, 83, 0.40);
	backdrop-filter: blur(9px);
	font-size: rem(14px);
	font-weight: 600;
	line-height: 1;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	white-space: nowrap;
	color: #fff;
	overflow: hidden;
	padding: rem(8px);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border-radius: rem(50px);
		background-color: var(--color-primary);
		z-index: -1;
		transform: translateX(-101%);
		transition: transform .3s ease;
	}

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: rem(35px);
		height: rem(35px);
		border-radius: 50%;
		font-size: 1.2em;
		color: #070507;

		&:after {
			content: '';
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: var(--color-primary);
			border-radius: 50%;
			transition: all .3s linear;
		}
	}

	&:hover {
		color: #070507;

		&:before {
			transform: translateX(0);
		}

		span {
			color: #fff;

			&:after {
				background-color: #070507;
				// transform: scale(7);
			}
		}
	}
}

button.btn {
	transition: all .3s ease;
}

.btn-icon-right {
	padding-left: rem(24px) !important;

	span {
		margin-left: rem(20px);
	}
}

.btn.btn-fixLink {
	background-color: transparent;
	border: 0;
	backdrop-filter: initial;
	padding: rem(5px);
	
	&:not(:hover) {
		padding-left: 0 !important;
	}
}

@include media-breakpoint-up(md) {
	.btn {
		font-size: rem(16px);
		padding: rem(10px);
	
		span {
			width: rem(40px);
			height: rem(40px);
		}
	}
}

@include media-breakpoint-up(xl) {
	.btn {
		font-size: rem(20px);
		padding: rem(12px);
	
		span {
			width: rem(54px);
			height: rem(54px);
		}
	}
}